/.metadata/
README.md
.DS_Store
backend/.DS_Store
backend/src/.DS_Store
backend/src/main/.DS_Store
backend/src/main/java/.DS_Store
backend/src/main/java/com/.DS_Store
backend/src/main/java/com/giproject/.DS_Store
backend/src/main/java/com/giproject/dto/.DS_Store
backend/src/main/java/com/giproject/entity/.DS_Store
backend/src/main/java/com/giproject/repository/.DS_Store
backend/src/main/java/com/giproject/service/.DS_Store

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log
# Dependency directories
node_modules/
# Environment variables
.env
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# OS specific

# Task files
tasks.json
tasks/ 
*.md
*.mdc
*.json
*.example
/.kiro
backend/gradlew
backend/gradlew
/backend/.taskmaster
/.taskmaster
backend/.gitattributes
backend/.gitattributes
